<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Web</display-name>

	<context-param>
        <param-name> org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG </param-name>
         <param-value>/WEB-INF/tiles.xml</param-value>
     </context-param>
	<context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>/WEB-INF/applicationContext.xml,/WEB-INF/web-application-context.xml</param-value>
    </context-param>

  	<filter>
      <filter-name>BanqueWebSt2SpHiSecurityFilter</filter-name>
      <filter-class>org.securityfilter.filter.SecurityFilter</filter-class>
      <init-param>
         <param-name>config</param-name>
         <param-value>/WEB-INF/securityfilter-config.xml</param-value>
      </init-param>
      <init-param>
         <param-name>validate</param-name>
         <param-value>true</param-value>
      </init-param>
    </filter>

	 <filter>
	    <filter-name>struts2</filter-name>
	    <filter-class>
	        org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
	    </filter-class>
     </filter>
     
     <filter-mapping>
      <filter-name>BanqueWebSt2SpHiSecurityFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>	
     
     <filter-mapping>
	    <filter-name>struts2</filter-name>
	    <url-pattern>/*</url-pattern>
	 </filter-mapping> 
     
  
 	 <listener>
	     <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	 </listener>
	 
	 <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>     
    

	<welcome-file-list>
		<welcome-file>/jsp/welcome.jsp</welcome-file>
	</welcome-file-list>
	
	<resource-ref>
		<description>
			reference a la ressource BDD pour le pool
		</description>
		<res-ref-name>jdbc/banque</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref> 
	

</web-app>